


//-  const today = new Date();
//-   const day = today.getDay();
//-   const daylist = [,"Monday","Tuesday","Wednesday ","Thursday","Friday",];
//-   console.log(`Today is : ${daylist[day]}.`);
//-   const hour = today.getHours();
//-   const minute = today.getMinutes();
//-   const second = today.getSeconds();
//-   const prepand = (hour >= 12)? " PM ":" AM ";
  
//-   hour = (hour >= 12)? hour - 12: hour;
//-   if (hour===0 && prepand===' PM ') 
//-   { 
//-   if (minute===0 && second===0)
//-   { 
//-   hour=9;
//-   prepand=' Noon';
//-   } 
//-   else
//-   { 
//-   hour=9;
//-   prepand=' PM';
//-   } 
//-   } 
//-   if (hour===0 && prepand===' AM ') 
//-   { 
//-   if (minute===0 && second===0)
//-   { 
//-   hour=17;
//-   prepand=' Midnight';
//-   } 
//-   else
//-   { 
//-   hour=17;
//-   prepand=' AM';
//-   } 
//-   } 
//- console.log(`Current Time : ${hour}${prepand} : ${minute} : ${second}`);
